<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



    <title>EVENTBRITE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  <header>
  <div class="navbar">
  <div class="navbar_left">
    <nav class="stroke">
    <ul class=nav nav-pills nav-fill>
      <li class="nav-item">
      <%= link_to "Accueil", events_path, class:"nav-link active text-white" %> </li>
      <li class="nav-item">
      <%= link_to "Créer un nouvel Event", new_event_path, class:"nav-link active text-white" %> </li>    
  </div>
  </ul>
    


      <% if user_signed_in? %>
      
      <div class="navbar_right">

      <ul class=nav nav-pills>
      <li class="nav-item">
      <%= current_user.first_name %>
      </li>
        
        
        <li class="nav-item">
        <button type="button" class="btn btn-dark btn-sm"> <%= link_to "Edit email / password", edit_user_registration_path %></button>
         
        </li>

        <li class="nav-item">
        <button type="button" class="btn btn-dark btn-sm"><%= link_to "Deconnexion", destroy_user_session_path, method: :delete %></button>
        </li>
    
      <% else %>
        <li>    
          <%= link_to "Sign in", new_user_session_path %>
        </li>
    
        <li>
          <%= link_to "Sign up", new_user_registration_path %>
        </li>
    
      <% end %>
    </ul>
    </div>
    
     

    </nav>

    
  </div>
  </header>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
