<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



    <title>EVENTBRITE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  <header>
  <div class="navbar">
  <div class="navbar_left">
    <nav class="stroke">
    <ul class=nav nav-pills nav-fill>
      <li class="nav-item">
      <%= link_to "Accueil", events_path, class:"nav-link active text-white" %> </li>
      <li class="nav-item">
      <%= link_to "Créer un nouvel Event", new_event_path, class:"nav-link active text-white" %> </li>    
  </div>
  </ul>
    

      <% if user_signed_in? %>
      
      <div class="navbar_right">

      <ul class=nav nav-pills>
      <li class="nav-item">
      <button type="button" class="btn btn-dark btn-sm">
      <%= current_user.first_name %>
      </button>
      </li>
        
        
        <li class="nav-item">
        <button type="button" class="btn btn-dark btn-sm"> <%= link_to "Edit email / password", edit_user_registration_path %></button>
         
        </li>

        <li class="nav-item">
        <button type="button" class="btn btn-dark btn-sm"><%= link_to "Deconnexion", destroy_user_session_path, method: :delete %></button>
        </li>
    
      <% else %>
        
      <div class="text-right"> 
        <button type="button" class="btn btn-dark btn-sm">
          <%= link_to "Sign in", new_user_session_path %>
        </button>
        
    
       
        <button type="button" class="btn btn-dark btn-sm">
          <%= link_to "Sign up", new_user_registration_path %>
          </button>
      </div>
    
      <% end %>
    </ul>
    </div>
    
     

    </nav>

    
  </div>
  </header>
  </head>
  <body>
    <%= yield %>
  </body>

  <footer id="footer" class="clearfix">
  <div id="footer-widgets">

    <div class="container">

    <div id="footer-wrapper">

      <div class="row">
        <div class="col-sm-6 col-md-2">
          <div id="meta-3" class="widget widgetFooter widget_meta">
          <h4 class="widgettitle">Notre site:</h4>
          <ul>
         <li><a href="#"><i class="fa fa-home fa-fw"></i> Accueil</a></li>
        <li><a href="privacypolicy.php"><i class="fa fa-link"></i> Privacy Policy</a></li>
        <li><a href="#"><i class="fa fa-envelope fa-fw"></i> Contact Us</a></li>
         </ul>
</div>      </div> <!-- end widget1 -->

        <div class="col-sm-6 col-md-2">
              <div id="recent-posts-3" class="widget widgetFooter widget_recent_entries">
                <h4 class="widgettitle">Our social media :</h4>
                <ul>
      <li>
         <a href="https://www.facebook.com/mr.dauod" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
      </li>
      <li>
          <a href="https://www.twitter.com/ayatquranCom" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
      </li>
      <li>
          <a href="http://www.youtube.com/user/sonsofye" target="_blank"><i class="fa fa-youtube"></i> Youtube</a>
       </li>
    </ul>
</div>            </div> <!-- end widget1 -->

        <div class="col-sm-6 col-md-4">
          <div id="meta-4" class="widget widgetFooter widget_meta">
          <h4 class="widgettitle">Subscribe :</h4>

          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="Entre ton email .." type="text">
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="Numero de mobile" type="text">
               <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Subscribe !</button>
              </span>
            </div>
          </div>


          </div>
         </div> <!-- end widget1 -->

        <div class="col-sm-6 col-md-4">
          <div id="search-3" class="widget widgetFooter widget_search"><h4 class="widgettitle">Rechercher un Event :</h4>

            <div class="form-group">
                            <label class="control-label">Keyword :</label>
                            <div class="input-group">
      
                              <input class="form-control" placeholder="Keyword for search ..." type="text">
                               <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">Search !</button>
                              </span>
                            </div>
                          </div>

            </div>            </div> <!-- end widget1 -->

      </div> <!-- end .row -->

    </div> <!-- end #footer-wrapper -->

    </div> <!-- end .container -->
  </div> <!-- end #footer-widgets -->

  <div id="sub-floor">
    <div class="container">
      <div class="row">
        <div class="col-md-4 copyright">
         Copy right for Ocece © 2020
        </div>
        <div class="col-md-4 col-md-offset-4 attribution">
         Developer by  <a target="_blank" href="#">Faploo team</a> .
        </div>
      </div> <!-- end .row -->
    </div>
  </div>

</footer>



</html>


